[2019-09-22 14:44] ahmed-alaa opened #2 "`Larabank` examples are invalid URLs in README"
`README.md` file contains invalid urls for `Larabanks` examples:

I think should be as follows:

[code]

[2019-09-22 15:05] freekmurze commented on #2
Fixed, thanks!

[2019-09-22 15:05] #2 closed

[2019-09-23 15:46] ahmed-alaa opened #3 "Concurrency transactions"
I'm quite interested in `spatie/event-sourcing` packages, I tried to check how the concurrent operations is handled and looks for me that at the current implementation we use `Transactional Locks`.

- I tried to concurrent `Withdraw` of same account and had to wait until 1st operation is done to process the 2nd operations.

-  I tried to concurrent `Add` operation for 2 different users and for rea

[2019-09-23 15:53] freekmurze commented on #3
I don't have any plans in this regard as I haven't run into the issue yet.

If this can be solved in a simple way, I'd accept a PR with tests that handles the issue.

[2019-09-23 16:15] ahmed-alaa commented on #3
I'll try to take a look into and share my thoughts about it before doing the PR

[2019-09-24 07:28] drzippie opened #4 "Bad version on install docs ^4.0"
Current version in Packagist is 1.0.x

[2019-09-24 07:36] #4 closed

[2019-09-24 09:05] JayAhrDe opened #6 "installation failing"
On `require spatie/laravel-event-sourcing`, this is what I get.
![image](https://user-images.githubusercontent.com/930553/65497754-05426a00-debb-11e9-9a7b-1b0caf2121c1.png)

Until I delete the package, every command, e.g. `php artisan serve`, will result in an error:
![image](https://user-images.githubusercontent.com/930553/65497815-24d99280-debb-11e9-98b4-e644dbc57309.png)

Any idea?

[2019-09-24 09:29] ahmed-alaa commented on #6
I'm not sure why package needs big memory but you can check php `memory_limit` by using
[code]

Also, you can increase it inside your `php.ini` then package installation should work.

But of course maybe could be addressed/answered better by #Spati_team

[2019-09-24 09:35] freekmurze commented on #4
This is now fixed in our docs, thanks for bringing this to our attention.

[2019-09-24 09:43] riasvdv commented on #6
With a new Laravel project and just the laravel-event-sourcing package I can go as low as 15MB of PHP memory to serve the application. Can you give us a bit more info?

- Which other composer packages have you required?
- Are you upgrading from `laravel-event-projector` or doing a new installation?

It seems weird our package would be the issue as in a new Laravel project I can install and `artisa

[2019-09-24 09:51] JayAhrDe commented on #6
Thanks so far!

I tried **updating** from event-projector; when it lead to the same error, I removed it and required **event-sourcing** from scratch.

This is the composer.json (as .txt for compatibility-reasons):

[composer.json.txt](https://github.com/spatie/laravel-event-sourcing/files/3646527/composer.json.txt)

[2019-09-24 09:53] riasvdv commented on #6
It might be failing somehow because of the old namespaces and dumping a lot, can you try doing step 3 of the [Upgrading guide](https://github.com/spatie/laravel-event-sourcing/blob/master/UPGRADING.md) before requiring it again?

[2019-09-24 10:01] JayAhrDe commented on #6
It's only left over in the Logs:
![image](https://user-images.githubusercontent.com/930553/65502372-f495f200-dec2-11e9-8c55-7875df08817e.png)

[2019-09-24 19:41] goranculibrk opened #7 "Option to get all events for one account"
Hi there, this is more a question than it is an issue.
I'm trying to figure out how I can get a list of all events for specific account.
An example from Larabank. I would like to create a list of transaction for specific account, when user deposited or withdraw the money from the account to give a user option to see the activity on their account.
By using event replay I can see that it's possible,

[2019-09-25 07:19] lizhineng commented on #7
I create a dedicated `AccountTransactionProjector` for account transaction list.

[2019-09-25 07:40] goranculibrk commented on #7
@lizhineng Thanks for pointing me to the right direction. I've missed that in `stored_events` the `aggregate_uuid` is the actually the uuid of the account in the `accounts` table.

[2019-09-25 07:43] #7 closed

[2019-09-27 01:23] hailwood opened #11 "Update docs: meaning of "You should make sure that the queue will process only one job at a time.""
So in the docs on https://docs.spatie.be/laravel-event-sourcing/v1/installation-setup/ there's this section

It's probably helpful to provide a couple of examples of how to do this, e.g. for horizon I believe it's a case of adding something like the following to the `horizon.php` config file.

[code]

I've opened an issue rather than a PR as I can not think of a great way to word this.

[2019-09-27 12:16] stillzombie opened #12 "php 7.3"
I have a laravel 6 app running on a php7.2, is it really necessary for this package to install to run it on php 7.3?

[2019-09-27 15:45] freekmurze commented on #12
Yes. Feel free to fork the package and make it compatible with PHP 7.2.

[2019-09-27 15:45] #12 closed

[2019-10-01 14:21] SiebeVE opened #14 "When not using json serialized events, the library still passes through the event properties as json to the desirializer"
I'm using a custom serializer that simply uses the php `serialize` and `unserialize` function.
This means my `event_properties` aren't json.

You can see on line 47:
https://github.com/spatie/laravel-event-sourcing/blob/d426fe4c62947e45500b668a4c24435d7c9c04b4/src/StoredEvent.php#L45-L48 the `event_properties` are passed through as json_encoded string. I suspect this is done because you cast it in

[2019-10-03 09:11] booni3 opened #15 "Question - more complex business rules"
Hi Guys, I really love the idea of event sourcing but am just starting with it. I have watched your video about 10 times and read the docs many times, as well as a lot of other resources on event sourcing across the web. I get the concept but the implementation is much harder.

Your examples with bank balance are easy to follow, understand and implement but I would love to see how more complex bus

[2019-10-11 07:51] #14 closed

[2019-10-12 02:09] bobbarn opened #17 "Simple fix to migration"
Add to create_stored_events_table.php.stub so rollback and refresh works :)

public function down()
    {
        Schema::dropIfExists('stored_events');
    }

[2019-10-12 14:20] freekmurze commented on #17
For our projects we generally do not use rollback at all. That's why there are no `down` steps in our migrations by default. If you need it, add it to the migration in your own project

[2019-10-12 14:20] #17 closed

[2019-10-14 12:33] spaceemotion opened #18 "Question - Best practises regarding CRUD events"
Due to (strong) auditing requirements I am implementing event-sourcing in my latest client project. I've read the docs and watched the introductionary video, but I'm currently debating on how to go about "best practises" when using this library.

Let's say I got an Invoice model with attributes like `hours` and `rate`. Initially I thought about creating the following events:

- `CreateInvoice`
- `

[2019-10-16 00:14] adrianb93 commented on #18
Spatie has a style guide that provides a sensible explanation of why you would name your events in a past-tense: https://guidelines.spatie.be/code-style/laravel-php#naming-classes

These naming decisions are up to you for your project. It's a style decision.

If you're setting hours, an `InvoiceUpdated` event is fine. In the bank example, you wouldn't want to set that value. You'd want to incremen

[2019-10-16 00:25] adrianb93 commented on #18
As for your additional question, I haven't had to split/rework event logic yet. I think there is a Full-Stack Radio podcast episode that went over that topic. Might have been one of these:

* http://www.fullstackradio.com/85
* http://www.fullstackradio.com/95

A good rule of thumb is set the value in your created or updated event unless:

* It is a state change
* An existing attribute is being mut

[2019-10-16 06:17] #18 closed

[2019-10-16 18:56] stillzombie opened #21 "Making sure projector get handled in the right order"
Maybe this is something i could not find on the docs, so my case is i have 2 projectors listening to the same event

one projector to update a model second one to log the status of that model

so for me the second projector happen first, storing the wrong(old) values on the log.

So of course i would like to make a pr maybe i can update the docs or the example to make rhis more clear, but i dont u

[2019-10-21 07:03] rubenvanassche commented on #11
Thanks! Thos was merged with #16

[2019-10-21 07:03] #11 closed

[2019-10-21 20:12] erikgaal commented on #21
I think the same logic applies as Laravel’s events applies here. Listeners should never depend on the execution order. If you need two listeners, or in this case projectors, to run in a specific order, they should be called from one another.

You could call the logic for the second projector from the first projector, or implement the logging projector in a way that it does not depend on the sequen

[2019-10-24 15:10] axit-joost opened #26 "Utilise composer's PSR-4 autoload for projector/reactor auto-discovery?"
Would it be a useful idea to leverage composer's PSR-4 autoload for paths to scan for projectors and reactors? For instance, I have:

[code]

Also, might it not be more efficient to use composer's autoload as a source instead of using `Finder` to traverse the filesystem?

Just a thought.

[2019-10-24 21:30] freekmurze commented on #26
Feel free to submit a PR to optimize things. Of course all current test should still pass.

[2019-10-24 21:30] #26 closed

[2019-10-24 21:34] #21 closed

[2019-10-31 15:08] TobiasJ opened #30 "Projectors and Reactors still trigger in tests despite using Event::fake()"
Hi,

according to the [docs](https://docs.spatie.be/laravel-event-sourcing/v1/using-aggregates/testing-aggregates/#disabling-dispatching-events) when testing Aggregates you can prevent Projectors and Reactors from being fired by using Laravels `\Illuminate\Support\Facades\Event::fake();`. I tried it but they (Projectors and Reactors) are still triggered when building the Aggregate with the `given`

[2019-10-31 18:05] danielwaghorn commented on #30
I also have the same issue which is manifesting itself by the test failing because an aggregate UUID isn't being supplied to the projector.

Ideally `Event::fake()` would solve this by not allowing the projectors to run, however regardless of whether the `fake()` method is called in the `setUp` in the test or just before the actual test case it still runs.

[code]

I notice that this is when using

[2019-11-04 11:39] TobiasJ commented on #30
Short update, after the long weekend, hope y'all had a good one. Took a quick look at the `Spatie\EventSourcing\Projectionist` Class and right now it seems that the `Spatie\EventSourcing\Projectionist::withoutEventHandlers` method suits this case. When I call the method (`app(Spatie\EventSourcing\Projectionist::class)->withoutEventHandlers()`) before faking the Aggregate the Projectors and Reactor

[2019-11-04 12:35] riasvdv commented on #30
Does calling `withoutEventHandlers()` fix all the issues you're having? Or is there still some unexpected behaviour?

[2019-11-04 13:09] TobiasJ commented on #30
Right now it does fix the issue for me. Couldn't come up with a test scenario where this won't work as we can just trigger manually generated Events to test Projections and Reactions.

But it would be nice to have an option (like `retrieve`) to supply a UUID to the `FakeAggregateRoot` in case they are needed for Projections in Integration/Feature Tests. That would also solve @danielwaghorn issue w

[2019-11-04 16:37] danielwaghorn commented on #30
I can confirm that adding `Projectionist::withoutEventHandlers();` lets my tests run successfully. This works for me as I'm just testing the Aggregate as a unit. If I'm doing an integration test I tend to want the events handled by the Projectors and therefore present in the database to assert against.

Is this worth me making a PR to the docs to suggest this as a suitable means of disabling proje

[2019-11-05 08:10] riasvdv commented on #30
Feel free to do so! I'd suggest just adding the `Projectionist::withoutEventHandlers();` part with some extra explanation, the `Event::fake()` can still be used to prevent storing the events as that uses Laravel's event system

[2019-11-05 12:05] #30 closed

[2019-12-04 11:27] adrianb93 opened #35 "Recording Events in a Reactor"
I have a reactor that is running a job. When the job is complete, I wanted to record an event to the aggregate as to whether it succeeded or not.

**Issues:**

* When I record an event to an aggregate in a reactor, an infinite loop is caused.
* If I remove the reactor before persisting the new event, a duplicate of the originally reacted to event is persisted.

I can't find a way to make this work

[2019-12-04 12:17] adrianb93 commented on #35
Closing for now. I wrote a test in my fork and it passed. The issue must be in my project's code.

[2019-12-04 12:17] #35 closed

[2019-12-06 12:12] kimuliSiraje opened #36 "Snap Shots."
I have tried different event sourcing libraries for PHP and I find this easier and straight forward.
I request to add in a "snap shot" feature.

Thanks!

[2019-12-06 13:12] freekmurze commented on #36
I would love the have a feature that work similar to how EventSauce does it. Currently I don't have the time to implement this myself.

I would accept a PR that adds this. Make sure to include docs and tests.

[2019-12-09 14:38] kimuliSiraje commented on #36
Ok, I will find sometime and implement that!

[2019-12-12 15:05] rogervila opened #38 "Cannot use DTOs with spatie/data-transfer-object with events"
Hello,

I wanted to use DTOs from [spatie/data-transfer-object package](https://github.com/spatie/data-transfer-object), but it looks that event serialization does not support it.

Is it mandatory to use primitives on events?

This is the setup:

[code]

These are the logs
[code]

Thank you.

[2019-12-13 07:45] brendt commented on #38
I can't look into this right now, maybe this afternoon; though have you considered making your event classes themselves DTOs? Take a look at https://github.com/brendt/aggregate.stitcher.io/blob/master/app/Domain/Post/Events/PostEvent.php

[2019-12-13 08:00] traubisoda opened #39 "Issue when using with Telescope ViewWatcher"
Hi!

If I use the laravel-event-sourcing package with Laravel Telescope, I get the following error when trying to open any page on the site:
[code]

This happens after installing both packages freshly with their default configurations.

The error goes away, if I disable Telescope's view watcher.

I would be happy to send a PR to solve this, but I couldn't identify the root of the issue.

Used vers

[2019-12-13 09:47] riasvdv commented on #39
Seems to be because of this new release of Telescope https://github.com/laravel/telescope/pull/766

I've created an issue on the Telescope repo https://github.com/laravel/telescope/issues/793

[2019-12-13 11:55] traubisoda commented on #39
Thanks @riasvdv, in that case I'll close this one.

[2019-12-13 11:55] #39 closed

[2019-12-16 09:18] rogervila commented on #38
Thank you @brendt

As a workaround, I am converting the DTO to an array when passing it to the events. Then, I
convert it to a DTO again on the projector.

[code]

I think that a solution would be a new Event Serializer that could handle DTOs automatically. I  could work on a PR if you agree

[2019-12-16 09:30] rogervila opened #40 "[Question] Is it a good idea to convert User registration into event sourcing?"
Hello,

I am wondering if it is a good idea to convert User registration into event sourcing.

For example, in order to handle user registration, the [RegisterController ](https://github.com/laravel/laravel/blob/master/app/Http/Controllers/Auth/RegisterController.php#L65) could be modified to retrieve a `UserAggregate` and persist the user data.

[code]

The same behavior could be extended to othe

[2019-12-19 03:46] vanthao03596 opened #41 "Compare with spatie/laravel-eventsauce"
I'm new to event sourcing. Someone can compare what different of this package with spatie/laravel-eventsauce. What package i should use ?

[2019-12-20 12:59] freekmurze commented on #41
Read the documentation of both packages and decide for yourself.

[2019-12-20 12:59] #41 closed

[2019-12-26 10:44] fhusquinet opened #42 "Integration with hyn/multi-tenant and PHPUnit"
Hi!

I have a weird issue when using this package with hyn/multi-tenant. When I am running tests with PHPUnit everything fails after the first test.

[code]

Looks like the singleton binding for the EventSubscriber isn't used/ran after the first test is run. The class doesn't receive the required $storedEventRepository parameter when created, which should contain the value in the config file (conf

[2020-01-07 23:33] gcshri opened #44 "Migration - Needs a "down()""
Not sure how to submit a PR and if it's worth it for a small issue like this.

the file create_stored_events_table.php.stub needs simple down() method to remove the created table.

[code]

[2020-01-09 08:03] freekmurze commented on #44
I generally do not add `down` functions to the migrations. I you need this, publish the migration and add it to your own project.

[2020-01-09 08:03] #44 closed

[2020-01-15 18:24] dfoxx opened #47 "Installation fails if config is cached"
If you've ever run `php artisan config:cache` prior to installation you will get the following error:

[code]

I now realize `config:cache` is recommended for production only:

Running `php artisan config:clear` before installing via `composer require...` will prevent this issue from occurring, but if you're already hitting this error you will need to run `rm -rf vendor && composer update && php a

[2020-01-16 08:35] freekmurze commented on #47
Thank you for your suggestion. I'm thinking that info belongs more in the Laravel docs (and I'm sure it's mentioned there somewhere) than in our docs.

[2020-01-16 08:35] #47 closed

[2020-01-16 12:54] riasvdv commented on #40
This is the best way to go about it, yes. If you do not event source your users, you might run into a situation where older events rely on users that are not there anymore when you create a new projector.

[2020-01-16 12:54] #40 closed

[2020-01-16 16:11] rogervila commented on #40
Thank you @riasvdv

[2020-01-22 13:05] riasvdv commented on #36
See #48

[2020-01-22 13:05] #36 closed

[2020-01-22 13:08] riasvdv commented on #15
Looks like you got some great answers already, closing this here.

[2020-01-22 13:08] #15 closed

[2020-01-24 16:44] freekmurze opened #52 "Snapshots in v3 need docs"

[2020-01-25 17:42] devmsh opened #55 "TDD with AggregateRoots"
I tried to read the documentation and see the example projects, but I did not figure out the best approach to develop an AggregateRoots in TDD.

I have several issues, maybe many of them not related to the package directly but I think it worth to be discussed here:

In the example project, you use primitive types as an AggregateRoot function params like `$amount`, or `$name` but for more complex e

[2020-01-27 08:21] #52 closed

[2020-01-27 11:03] #3 closed

[2020-01-27 11:03] #6 closed

[2020-02-05 08:59] brendt commented on #38
Maybe we should look if implementing `__sleep` and `__wakeup` on the base DTO class could solve the problem? I'll do some testing on this

[2020-02-05 09:49] brendt commented on #38
Unfortunately it looks like the object normalizer of `symfony/serializer` won't trigger `__sleep` and `__wakeup`, and neither `jsonSerialize` or others. As far as I can tell, it's impossible to add a simple solution in the DTO packages, without requiring a dependency on `symfony/serializer`, which I think is out of the package's scope.

There are two solutions I can think of though:

An `EventSeri

[2020-02-11 14:38] jdousdebes commented on #42
Hi!. Did you find a solution to your problem?

I'm having the same problem.

[2020-02-11 21:51] iBet7o opened #60 "Question - Could it be slow to recover large amounts of events?"
I have a project focused on money transactions, I just read the excellent documentation of this repository and I think it could be of great help in my project.

But I have some doubts, the database of this type of projects generally grows very fast, I feel that aggregators when reconstructing all events (for example, 1M of transactions) would be somewhat slow.

Otherwise, if everything is super fa

[2020-02-12 06:31] riasvdv commented on #60
v3 has Snapshots, which allows you to store the state of an aggregate at a point in time, this helps so you don’t have to reconstitute all events every time

[2020-02-12 06:31] #60 closed

[2020-02-12 20:17] fhusquinet commented on #42
Not really no... Considering making a pull request OR forking it to use it on my project instead.
Seems like a niche issue.

[2020-02-14 01:29] hailwood opened #61 "Please publish a new version"
Right now after installation things fail, as the currently published version does not publish the snapshots table migration.

There has been a pr merged to add this in, but the latest version on composer does not have this.

[2020-02-14 07:58] freekmurze commented on #61
Thanks for bringing this to my attention.

Fixed!

[2020-02-14 07:58] #61 closed

[2020-02-14 07:59] freekmurze commented on #42
Closing this as I don't use multi-tenant myself.

If there's anything simple we can do to make it compatible, send a PR.

[2020-02-14 13:18] m-bymike opened #63 "Release of version 1.1.0 is actually version 2"
Hi,

according to the [changelog](https://github.com/spatie/laravel-event-sourcing/blob/v1/CHANGELOG.md#110---2020-02-07), 1.1.0 is supposed to contain the change `countAllStartingFrom`. But after updating with composer to 1.1.0 the package now requires PHP 7.4 (the major change of v2). It also doesn't contain the changes related to `countAllStartingFrom`.

It looks like the tag has been related t

[2020-02-14 13:22] m-bymike commented on #63
Just to make it easier, here with links:
Tag [1.1.0](https://github.com/spatie/laravel-event-sourcing/releases/tag/1.1.0) points to commit f72358f0357d8bee7882b94b767cd26a1e160117

[2020-02-20 08:29] ccgintranet opened #65 "CouldNotPersistAggregate with message 'not persist aggregate ActionPointAggregate (uuid: ) because it seems to be changed by another process after it was retrieved in the current process. Expect to persist events after version 0, but version 1 was already persisted.'"
Hello,

I am wondering if there is a way to incorporate Spatie Event Sourcing with Behat (Gherkin)?

I am holding onto AggregateRoot references throughout the entire lifecycle of each scenario in order to test the "behaviour" of my business logic.

What I am finding is, due to the way AggregateRoot::fake() is implemented, there can be a clash when attempting to use the testing in the manner in whi

[2020-02-20 08:34] freekmurze commented on #65
I'd welcome a PR that fixes this. If none comes in I'll take a look when I have the time.

[2020-02-21 05:03] dilab opened #66 "DateTimeImmutable Serialization issue"
My Event has a **DateTimeImmutable** object:

[code]

When playing the event in my Unit Test:

[code]

I have received the following issue:
[code]

[2020-02-21 05:07] dilab commented on #66
It seems like it is not using the correct normalizer(DateTimeImmutableNormalizer).

[2020-02-21 07:31] freekmurze commented on #66
I'll take a look soon. If you need this to be fixed quickly, send a PR with tests.

[2020-02-22 04:29] dilab commented on #66
@freekmurze done. please review at https://github.com/spatie/laravel-event-sourcing/pull/67

Thank you for the awesome library.

[2020-02-23 01:38] dilab commented on #66
@freekmurze Fixed the bug, it is due to the factor that the serializer is missing **DateTimeNormalizer**. Please review my PR and merge. thanks.

[2020-02-23 13:18] freekmurze commented on #66
We'll continue this in #67

Thanks for the PR!

[2020-02-23 13:18] #66 closed

[2020-02-25 08:27] emaikongebm opened #69 "Syntax error, unexpected '=>' (T_DOUBLE_ARROW), expecting ')'"
I'm trying to install spatie/laravel-event-sourcing. It has no problem until it reached this point :

`@php artisan package:discover --ansi`

When it reached this problem, an error showed up, and it said :

`In EventSourcingServiceProvider.php line 64:`

  `syntax error, unexpected '=>' (T_DOUBLE_ARROW), expecting ')'`

`Script @php artisan package:discover --ansi handling the post-autoload-dump e

[2020-02-25 08:35] riasvdv commented on #69
Are you on PHP 7.4?

[2020-02-25 08:36] emaikongebm commented on #69
I'm on PHP 7.3.8

[2020-02-25 08:37] riasvdv commented on #69
This package only works on PHP 7.4

[2020-02-25 08:37] #69 closed

[2020-02-25 09:58] dilab commented on #55
My two cents:

1. `When I dd the root it seems that the aggregate root is these but private so we cannot access it or make any assertion?`
You can always expose what is required, in your example, `AR:getInitialBalance`, so that you can go on with your unit test.

2. `Also, how can I test actions that need two aggregates collaboration?` When two AR need to communicate with each other, we can use [S

[2020-02-26 04:50] emaikongebm opened #70 "Returning back the data after we create/update it"
I'm using spatie/laravel-event-sourcing library.

I'll explain my issue using food and beverage system logic.
Say that I have 2 classes, which is SalesOrder and Table. When SalesOrder is created using the event-sourcing library, I need to return back the created SalesOrder data because I need to assign the SalesOrder's id to the Table's sales_order_id property so that I can link to both SalesOrder

[2020-02-26 08:03] riasvdv commented on #70
You can create a `uuid` and pass that along with your event, after the event has been stored and applied you can retrieve your model through the `uuid`

[2020-02-26 08:03] #70 closed

[2020-02-26 08:54] emaikongebm commented on #70
@riasvdv I got this error when returning the created data :

`Call to undefined method `App\Models\SalesOrder::uuid()` `

My method's code are:
public static function createSalesOrder(array $attributes)
    {
        $attributes['uuid'] = (string) Uuid::uuid4();
        event(new SalesOrderCreatedEvent($attributes));
        return static::uuid($attributes['uuid']);
    }

My event :
class SalesOr

[2020-02-26 20:28] #55 closed

[2020-03-02 20:37] djallits commented on #63
I am going to piggyback off this issue, because I believe it is closely related.

This is what happens when adding the library to my project, which causes a fatal error during `package:discover`.

[code]

If I attempt to explicitly call the _v3.0_, I receive errors about not meeting library requirements.

[code]

However, the version of PHP I am running passes the documented requirements:

Copyrig

[2020-03-03 08:09] riasvdv commented on #63
This package has required PHP 7.4 from version 1.1.0, which you can see in composer.json

The requirements weren't updated in the docs correctly, I've fixed that now

[2020-03-03 08:37] m-bymike commented on #63
@riasvdv Thank for updating the docs, but I think, this didn't address the problem.

My point is: v1.1.0 is tagging the wrong commit. As outlined above, the actual changelog for v1.1.0 is here: https://github.com/spatie/laravel-event-sourcing/blob/v1/CHANGELOG.md#110---2020-02-07. Compare this to the changelog of the tree of the tagged commit: https://github.com/spatie/laravel-event-sourcing/blob/

[2020-03-03 09:54] freekmurze commented on #63
I'll take care of this soon!

[2020-03-03 15:21] sehs1418 opened #71 "composer require laravel-event-sourcing problem"
when i try to install the package with composer in my laravel project i get this problem

Illuminate\Foundation\ComposerScripts::postAutoloadDump

PHP TypeError:  Argument 1 passed to Spatie\EventSourcing\EventSubscriber::__construct() must be of the type string, null given, called in /var/www/html/livebox-laravel/vendor/spatie/laravel-event-sourcing/src/EventSourcingServiceProvider.php on line 59

[2020-03-04 17:14] freekmurze commented on #63
Done!

[2020-03-04 17:14] #63 closed

[2020-03-05 09:51] m-bymike commented on #63
Thank you!

[2020-03-20 02:43] dilab opened #72 "Expose the AggregateRoot for testing"
Can we expose the AggregateRoot being via a getter https://github.com/spatie/laravel-event-sourcing/blob/master/src/FakeAggregateRoot.php#L10.

This will make it easier for testing the AggregateRoot state.

[2020-03-20 06:58] dilab opened #73 "assertRecordedContain"
Instead of using **assertEquals** , a new assertion to check if a certain event is contained in the record list.

https://github.com/spatie/laravel-event-sourcing/blob/master/src/FakeAggregateRoot.php#L58

[2020-03-20 09:41] freekmurze commented on #73
It's not clear what you mean here...

Feel free to PR improvements.

[2020-03-20 09:41] #73 closed

[2020-03-20 09:41] freekmurze commented on #72
Sure, send a PR to add a getter.

[2020-03-20 09:41] #72 closed

[2020-03-20 12:45] renedekat opened #74 "Bring PHP version requirement in line with Laravel"
Hello,

What's the reason that your packages require PHP7.4 and do not follow the same requirements as the Laravel framework.

When working in a business environment with large server farms, it's not always possible to keep up to date with the latest PHP versions.

I don't see any reason why older PHP version can't be supported. as there's nothing in PHP7.4 that important to warrant not supporting

[2020-03-20 13:31] freekmurze commented on #74
All projects we use this package on are on PHP 7.4. It makes no sense for us to invest time in supporting older versions. PHP 7.4 allows us to write better code.

Feel free to invest your own time in creating and maintaining support for older PHP versions.

[2020-03-20 13:31] #74 closed

[2020-03-22 23:18] aibarra11 commented on #71
i ran into this problem as well. brand new project laravel 7 with php7.4 (in docker alpine with fpm)

if you're ok to, delete your composer.lock file. The entry for this won't be in composer.json but in composer.lock

[code]

this worked for me in my new project

[2020-03-23 08:02] #71 closed

[2020-03-24 09:21] renedekat commented on #74
Hi @freekmurze, I completely understand and I'd do the same in your situation. Still pushing to get an upgrade to PHP7.4 here :)

That being said, Spatie open source projects are widely used and highly regarded. Which means they're very likely to be used by companies that don't/can't upgrade as fast as you can, and I think that comes with a certain responsibility.

But in short, great work on this

[2020-03-25 00:33] nrobates opened #76 "Aggregate not replaying events since V3 upgrade."
Hello,

The issue seems to be that since I have upgraded to version 3 and followed the steps in the upgrade guide, the events based on an aggregate are now no longer being replayed.

I am assuming that this is because the `aggregate_version` column in the database has a `NULL` value for every stored event. Is there a way already available to fix this, or is there a suggested way that this could be

[2020-03-25 11:57] freekmurze commented on #76
I'm not rely sure why it isn't replaying in your project, but it won't hurt filling in those aggregate_version fields with an incremental value.

[2020-03-25 14:39] nrobates commented on #76
Hello again. I managed to track it down to the retrieveAllAfterVersion method in the EloquentStoredEventRepository.php file.

I am not sure that I was completely clear in my original message. This happens, not when replaying events from the command line, but when you retrieve an aggregate and it replays the events to bring your aggregate to the current state. The method called is expecting a versi

[2020-03-25 14:45] freekmurze commented on #76
I'm thinking the safest way would be to set the aggregate version to an incrementing value. Maybe just setting it to the same value as `id` would do the trick.

[2020-03-25 14:49] nrobates commented on #76
Sounds good. Thanks Freek!

[2020-03-25 14:49] #76 closed

[2020-03-28 11:25] aureliusm opened #77 "Question - Implementing rollback/undo functionality"
Hi,

thanks for another awesome package. I have a question which I can't wrap my head around.

I would like to enable end-user to be able to go back to any point in time by giving him an option to go back to some specific point in the `stored_events` table and "reset" state to that point.

How would you approach this problem? I am thinking of replaying certain aggregate root to a specific point an

[2020-04-06 14:05] minicstudio opened #78 "Missing created_at from snapshots"
Seems just found a bug with snapshots during my testing. The created_at attribute is missing and the SQL raises an error.

Illuminate\Database\QueryException: SQLSTATE[HY000]: General error: 1364 Field 'created_at' doesn't have a default value (SQL: insert into `snapshots` (`aggregate_uuid`, `aggregate_version`, `state`) values (x, x, x)) in file ...

[2020-04-07 07:42] freekmurze commented on #78
Strange... the table is created by our default migration: https://github.com/spatie/laravel-event-sourcing/blob/master/stubs/create_snapshots_table.php.stub#L16

[2020-04-07 07:42] #78 closed

[2020-04-07 10:26] antal-levente commented on #78
Yes i know that. That was the first thing i checked, because wasn't sure if we added the created_at column or was there by default.

Are you going to remove the column from the migration or fix the issue differently?

[2020-04-07 10:48] antal-levente commented on #78
I don't understand why you closed when it's clearly a bug. Without a fix snapshots creation is not working ... or am i missing something? Nothing states that i should provide the created_at timestamp somehow.

[2020-04-07 10:57] freekmurze commented on #78
I didn't understand the problem correctly. Meanwhile I've made a new released where the `created_at` field will be filled automatically.

[2020-04-07 11:00] antal-levente commented on #78
Yes, that was the problem. Maybe i wasn't clear enough, sorry for that and thanks for the quick fix.

[2020-04-08 15:26] gustavopch opened #79 "Scheduling commands or events"
Hey, some ES/CQRS implementations provide scheduling capabilities out-of-the-box.

Use case example:
- an order is placed
- the order is delivered to the buyer (at this moment, we schedule a job to ask the buyer for feedback in 1 hour)
- user is asked for feedback

Reference from Elixir's Commanded: https://hexdocs.pm/commanded_scheduler/Commanded.Scheduler.html

Are there any plans to incorporate

[2020-04-09 11:59] freekmurze commented on #79
Laravel itself has a scheduler that allows you to schedule anything you'd like: https://laravel.com/docs/master/scheduling#introduction

[2020-04-09 11:59] #79 closed

[2020-04-09 13:30] gustavopch commented on #79
@freekmurze Thank you for pointing me in the right direction.

[2020-04-10 04:07] jitendra-1217 commented on #77
Sounds good to me what you suggested.
Just checking how did you do it finally?

[2020-04-14 05:37] aureliusm commented on #77
@jitendra-1217 Thanks for responding. Didn't get to it yet. :) Will post here when I am done.

[2020-04-15 16:07] sebastiandedeyne opened #84 "The replay command should have a --force flag"
To be consistent with other Laravel commands, running `php artisan event-sourcing:replay --force` should run without a confirmation prompt.

[2020-04-16 03:00] anhducbkhn opened #87 "store unicode into marianDB"
This is my env:
- DB: MarianDB: 10.3.14
- PHP: 7.4
- composer:
-- "require": {
        "php": "^7.2.5",
        "cerbero/laravel-enum": "^1.2",
        "fideloper/proxy": "^4.3.0",
        "guzzlehttp/guzzle": "^6.3",
        "laravel/framework": "7.5.2",
        "laravel/helpers": "^1.2.0",
        "laravel/passport": "^8.4.3",
        "laravel/tinker": "^2.4.0",
        "laravel/ui": "^2.0",

[2020-04-16 11:42] pascualstromsnes commented on #84
Hello @sebastiandedeyne

I have made a PR (#86) that includes an implementation of a force flag and a corresponding test.

[2020-04-16 15:06] freekmurze commented on #84
Thanks @pascualstromsnes, we'll continue this in #86

[2020-04-16 15:06] #84 closed

[2020-04-16 15:12] freekmurze commented on #87
Seems to me that this is not an issue with the package itself. I possible just use MySQL 5.7.

[2020-04-16 15:12] #87 closed

[2020-04-16 21:04] tonysm opened #88 "[Proposal] Allow disabling reactors temporarily"
Hi, all.

I'm implementing event sourcing on an existing app using the package and after moving the side-effects to reactors, I had a couple of tests failing. The project isn't using aggregators, but only events and eloquent models for now, and I have an observer that intercepts model changes and dispatches the correct events.

Tests were previously using model factories and I got myself wanting t

[2020-04-16 21:48] freekmurze commented on #88
Hi Tony,

I like this syntax, because it leans to the already existing `Projectionist::withoutEventHandlers()`

[code]

Feel free to PR that! Thanks 👍

[2020-04-16 21:48] #88 closed

[2020-04-16 23:44] tonysm commented on #88
Figured I could simply add a test helper method, like this:

[code]

[2020-04-17 01:36] anhducbkhn commented on #87
I customized class JsonEventSerializer:

`
use Symfony\Component\Serializer\Encoder\JsonEncode;
public function __construct()
    {
        $encoders = [new JsonEncoder(new JsonEncode(['json_encode_options' =>  JSON_UNESCAPED_UNICODE]))];
        $normalizers = [new DateTimeNormalizer(), new ObjectNormalizer()];

        $this->serializer = new SymfonySerializer($normalizers, $encoders);
    }
`

[2020-04-17 07:40] freekmurze opened #89 "Reset is not needed anymore, code + docs should be updated"
When resetting the state of a projector `resetState` is called.

https://github.com/spatie/laravel-event-sourcing/blob/e9594c4eacbb92f01bcf0f922050ec969ea25c1a/src/Projectionist.php#L256-L258

In the `ProjectsEvents` an unused `reset` method is still preset. This can be removed in the next major version of the package.

[2020-04-17 08:20] freekmurze commented on #87
Nice, glad you were able to find a solution.

[2020-04-30 10:23] brendt opened #92 "Adding a bisect command"
I was thinking whether it would be beneficial to add some kind of `event-projector:bisect` command, which you could pass two event UUIDs to debug bugs, similar to what git does with commits.

[2020-04-30 13:59] freekmurze commented on #92
Sure, I'd accept a PR that adds this.

[2020-05-08 10:07] huuhoa0506 opened #98 "Can't unserialize event which contains Carbon property type"
I try to create an event with Illuminate\Support\Carbon property , i get an exception
 "message": "Failed to unserialize an event with class `App\\Aggregates\\Reward\\Events\\PointGave` on stored event with id `6`. Are you sure that event class exists? ", "exception": "Spatie\\EventSourcing\\Exceptions\\InvalidStoredEvent", ...

How to resolve this issue without a custom event serializer implement

[2020-05-08 10:17] freekmurze commented on #98
I'm thinking you could let your event hold the timestamp value and not a carbon instance.

[2020-05-08 10:17] #98 closed

[2020-05-08 10:17] #92 closed

[2020-05-08 10:30] huuhoa0506 commented on #98
Thank you!

[2020-05-15 07:41] morrislaptop opened #100 "SchemalessAttributes needed?"
Hi! Love the package!

I'm building custom repositories to store and load events from https://eventstore.com/ so I'm not using Eloquent at all.

I liked the use of StoredEvent, except for the SchemalessAttributes requirement. This type then enforces all of Eloquent to be brought in.

https://github.com/spatie/laravel-event-sourcing/blob/ea48283a7a0db3a5c090de799df8cf01f5918f69/src/StoredEvent.php#

[2020-05-15 13:13] riasvdv commented on #100
We could just use a plain array or json object, this would require a breaking change though

[2020-05-15 13:35] morrislaptop commented on #100
Gotcha, thanks!

[2020-05-15 14:46] freekmurze commented on #100
I'd accept a PR to the `v4` branch for this, breaking changes allowed! 👍

[2020-05-15 14:46] #100 closed

[2020-05-15 18:36] morrislaptop commented on #100
Done!

[2020-05-15 19:24] freekmurze commented on #100
Thanks!

[2020-05-15 19:28] freekmurze commented on #100
I'm curious why you are using Even Store instead of a regular db. Could you share some info on that? If there's anything that can be done to make the integration easier, let us know 👍

[2020-05-18 17:16] morrislaptop commented on #100
@freekmurze mainly around receiving and sending events to other services.

Database model works well for a single service but it's hard for other services to be notified about new events. This could be done with some sort of scheduled task reading new events and remembering where it was up to, but would also have to deal with errors and retrys etc. EventStore takes care of this with a persistent s

[2020-05-18 22:10] burzum opened #103 "Question about folder structure when using artisan make"
By looking at the banking example, all the code of a domain is grouped in a domain folder under `app\Domain\Account`. When I installed the package in my Laravel 6 application it installed v3, I've noticed that that banking app is using 1.0. When I created my aggregate and event it ended up in `app\Aggregates` and the events also in their own folder. I prefer to keep things that belong to a domain

[2020-05-19 06:43] freekmurze commented on #103
You can move the generated classes to anywhere you want.

[2020-05-19 06:43] #103 closed

[2020-05-19 06:52] freekmurze commented on #100
Thank you for sharing this.

[2020-05-19 06:52] freekmurze commented on #100
Thank you for sharing this.

[2020-05-20 14:45] morrislaptop commented on #100
Hi @freekmurze and @riasvdv ,

I've finished the first version of the EventStore bridge - it's at https://github.com/digitalrisks/lese. I've implemented it in both larabank-projectors and larabank-aggregates and seems to work pretty well!

Would love your feedback! Thanks for such a great package.

[2020-05-20 15:21] nicopenaredondo opened #106 "Sample implementation of Snapshot ?"
Is it possible to add a sample scenario/implementation of "Snapshot" in the documentation ? I'm kinda confuse on how I can implement it.

[2020-05-20 17:00] MannikJ opened #107 "How Does This Compare To The ActivityLog Package?"
We have been using the [Activity Log Package](https://github.com/spatie/laravel-activitylog) since before spatie started creating these event sourcing packages.

I feel that  laravel-activity-log and laravel-event-sourcing are used to solved very similar problems, whereas the latter a bit more elaborate and sticks to a common pattern, but I am not really that deep into event sourcing. So what are

[2020-05-20 18:09] freekmurze commented on #107
The big difference between the two is that event sourcing stores and organises things in such a way that you can make decisions based on the past.

Theoretically you could also make decisions using the activity log, but that would be the same as making decisions based on the content of a log file. You could do it, but in many cases, the approach won't scaled or be maintainable.

To get a deeper un

[2020-05-20 18:09] #107 closed

[2020-05-20 18:11] freekmurze commented on #106
The documentation is here: https://docs.spatie.be/laravel-event-sourcing/v3/using-aggregates/snapshots/

The testsuite contains a few examples I think.

[2020-05-20 18:11] #106 closed

[2020-05-21 02:42] nicopenaredondo commented on #106
Got it. Thanks!

[2020-06-04 11:44] MannikJ commented on #42
Hi! We encounter the exact same issue without using hyn/multi-tenant. It would be very interesting what is actually happening.

[2020-06-08 17:41] morrislaptop opened #108 "Method injection for aggregate apply* methods like reactors and projectors"
Would you accept a PR for this?

[2020-06-08 22:04] freekmurze commented on #108
I don't know what you mean exactly, but go ahead a create a PR for me to review! 👍

[2020-06-08 22:04] #108 closed

[2020-06-10 09:23] denjaland commented on #71
Hmm.  Not sure why, but even after deleting /vendor, clearing whatever cache we had, even rebooting the computer and then trying to install it, we keep on running into the exact same issue.

I guess this could be resolved by adding a default value for the config retrieved here: https://github.com/spatie/laravel-event-sourcing/blob/master/src/EventSourcingServiceProvider.php#L64, passing in `\Spati

[2020-06-15 19:47] wietsewarendorff opened #110 "Unresolvable dependency resolving"
I like the idea of event-sourcing and wanted to give it a try on a new project. In a controller I am firing an event, but the projector cannot load it somehow:

`Unresolvable dependency resolving [Parameter #0 [ <required> string $uuid ]] in class App\Events\MyEvent`

What am I missing here? I basically followed [this part of the docs](https://docs.spatie.be/laravel-event-sourcing/v3/using-project

[2020-06-15 22:01] kielabokkie commented on #42
Just adding some info here for other people who happen to find this thread. For me it was a test that extended `PHPUnit\Framework\TestCase`. When changing it to extend `Tests\TestCase` instead, the test passed.

[2020-06-18 12:07] NiekVelde commented on #12
If anyone still needs a php 7.2 compatible version of laracel-event-sourcing, i've made a fork:
https://github.com/NiekVelde/laravel-event-sourcing-7.2

[2020-06-19 10:29] ccgintranet opened #113 "Could not persist aggregate `XAggregate` because it seems to be changed by another process after it was retrieved in the current process. Expect to persist events after version 4, but version 5 was already persisted."
Hello,

Firstly thank you for this library.

I am wondering if you may be able to here - this is related to #65

I have a front-end business application that communicates to a back-end CQRS app which is using this library.

Now, it's entirely possible two HTTP requests will be fired one after another that targets the same aggregate (ms apart) which causes the message "Could not persist aggregate `

[2020-06-20 23:13] freekmurze commented on #113
You can solve this by allowing concurrent persists.

https://github.com/spatie/laravel-event-sourcing/blob/232d64962b3160eedea216b88458e80dba275372/docs/advanced-usage/allowing-concurrent-persists.md#L6

[2020-06-20 23:13] #113 closed

[2020-06-23 06:54] dilab opened #114 "Expose aggregate_version of StoredEvent"
Can we expose aggregate_version of StoredEvent class. It will enable us to use the version when building a projection. This is useful when two events happened at the same time.

[2020-06-23 07:21] freekmurze commented on #114
I'd accept a PR for this.

[2020-06-24 01:08] dilab commented on #114
@freekmurze done https://github.com/spatie/laravel-event-sourcing/pull/115.

[2020-06-24 06:18] Dgalhotra commented on #69
I'm using php 7.4 still getting this error

[2020-06-24 08:04] freekmurze commented on #114
Thanks, we'll continue the conversation in #115

[2020-06-24 08:04] #114 closed

[2020-06-24 14:24] wietsewarendorff commented on #110
Restarted from scratch, and somehow it works now. I do not know what the differences are between the two attempts, or what caused the issue anyway. But it's working now...

[2020-06-24 14:24] #110 closed

[2020-06-26 06:56] brendt opened #116 "Retrieve aggregate roots from the container"
Aggregate roots are constructed on the fly in the retrieve method:

[code]

I've got some usecases where I'd like to inject a service or two in an aggregate root. If aggregate roots were resolved via the container, we could use autowiring.

I did some reading on the topic, and I believe there are valid cases where DI is useful in aggregate roots. This thread was interesting: https://stackoverflow.

[2020-06-26 06:59] riasvdv commented on #116
This has been added here already https://github.com/spatie/laravel-event-sourcing/pull/111

Might not be on the v4 branch yet

[2020-06-26 07:03] riasvdv commented on #77
That does sound fine, closing this, we'll move it to discussions when it gets activated by Github on this repository

[2020-06-26 07:03] #77 closed

[2020-06-26 07:05] brendt commented on #116
Oh, nice!

[2020-06-26 07:05] #116 closed

[2020-07-01 18:44] freekmurze commented on #89
Will be fixed as soon as v4 is released.

[2020-07-01 18:45] freekmurze commented on #65
I'm not a user of Behat myself, so I am not going to invest time in this issue.

I'd welcome a PR that fixes this.

[2020-07-01 18:45] #65 closed

[2020-07-01 21:51] inxilpro commented on #42
We just bumped into this, and as far as I can tell it has to do with something holding a reference to a stale copy of the event dispatcher between tests.

In our case, this looked something like:

[code]

When you call `Cache::tags()` that calls `setEventDispatcher()` on the `TaggedCache` instance that is created. This event dispatcher is the one bound to the DI container.

Somehow, it seems that

[2020-07-06 16:39] reed-jones opened #119 "Docs website appears down for me"
https://docs.spatie.be/laravel-event-sourcing/v3/introduction/

[2020-07-06 16:55] freekmurze commented on #119
Seems to work here

[2020-07-06 16:55] #119 closed

[2020-07-07 05:14] reed-jones commented on #119
Hmm, here too now... Thanks!

[2020-07-14 01:21] hailwood opened #122 "Handling side effects of a deletion event"
We've got the concept of Company Types and Companies.
All Companies are associated with a Company Type, and there is one system created Company Type that cannot be deleted.

Deleting a company type is easy, in a projector we just have

[code]

However in the event that a Company Type is deleted, we want to reassign any linked Companies to the default Company Type.

This is the part I'm not sure of

[2020-07-15 10:30] dilab opened #125 "Handle syncReactor"
Currently, all reactors handle events via dispatched jobs. However, in some situations, I want the reactors to handle events synchronously. For example, when handling events from a different context.

So similar to projectors, can we have also handle events by reactors synchronously?

https://github.com/spatie/laravel-event-sourcing/blob/master/src/StoredEvent.php#L69

[2020-07-15 11:50] freekmurze commented on #125
It's a sensible idea. We don't have a need for this so we are not going to invest our time in it. I'd accept a PR with tests that adds this to the package.

[2020-07-15 11:50] #125 closed

[2020-07-16 06:38] dilab opened #126 "PHPUnit problem"
When runing the unit tests, I have encountered the error below:

[code]

Anyone facing the same issue.

+ Mysql  Ver 8.0.19
+ PHP 7.4.2

[2020-07-16 06:41] freekmurze commented on #126
The testsuite runs fine both locally and on GitHub actions, so I'm guessing it's caused by something on your end.

If you find that the package is in error, I'd appreciate a PR that fixes it.

[2020-07-16 06:41] #126 closed

[2020-07-22 13:30] #89 closed

[2020-07-26 21:46] karlos545 commented on #122
In my experience, I would pull that functionality of assigning the default company back out into its own event. and fire this in the same place that you are accepting the request to delete a `CompanyType`.

I feel as though if you don't stick this into its own event you're manipulating the state of those Companies and it is not clear to how or why they have changed.

[2020-08-25 08:32] booni3 opened #139 "Scalability issue of a projector once an exception occurs"
There are a number of reasons why an aggregate root might persist successfully and then the projector might fail:

- A general exception inside the projector (bug in code).
- Database & system issues (overloaded, crash, connections).
- App issues (job times out)

This can affect both queued and standard projectors, although it might be more likely in a standard projector. If this happens the proje

[2020-09-01 12:05] DeroSavage opened #142 "Reactor not executed when seeding"
Hey,

i have a problem with reactors. In my seeder i want to create an account object. Since we're trying to do everything over event sourcing, the only way to do this is to throw an event inside the seeder to create the account. I have a projector listening for that event and it works, it will create the account. Then i have a reactor listening also on the event, but this is never called.

Is thi

[2020-09-01 12:52] freekmurze commented on #142
Reactors should get called as well. I'm assuming they are not getting called by something specific in your project.

If you think the package is in error, please submit a failing test for us to look at.

[2020-09-01 12:52] #142 closed

[2020-09-09 16:37] bobbarn opened #147 "Can version 3 be upgraded to Laravel 8?"
I see you added Laravel 8 support to the unreleased version 4. Or is version 4 released but the upgrade guide says unreleased? If 4 isn't released can 3 be upgraded?

[2020-09-09 19:00] freekmurze commented on #147
Version 4 is released, I'll update the upgrade guide.

We recommend that you upgrade to v4 of the package. We won't be adding support for Laravel 8 to v3.

[2020-09-09 19:00] #147 closed

[2020-09-10 05:57] bobbarn opened #148 "Suggest UPGRADING.md mentions republishing the config"
Worth copying any changes made to your config/event-sourcing.php, republishing and adding them back. Class paths have changed.

php artisan vendor:publish --provider="Spatie\EventSourcing\EventSourcingServiceProvider" --tag="config"

[2020-09-10 08:43] freekmurze commented on #148
Feel free to send a PR to update UPGRADING.md to your liking.

[2020-09-10 08:43] #148 closed

[2020-09-14 03:21] ifaniqbal commented on #71
Try to delete files in `bootstrap/cache` (except .gitignore). Worked in my case.

[2020-09-16 12:43] sebastiandedeyne opened #150 "Support closures in assertRecorded"
It's currently difficult to use data generated in aggregate roots in assertions.

[code]

This would be easier if we could pass down data from `when`, to be used in a future closure.

[code]

[2020-09-16 12:45] sebastiandedeyne opened #151 "FakeAggregateRoot::__call should return the result of the called method"
[code]

The method's return value gets lost here. This would be a better implementation:

[code]

Unfortunately this is a breaking change, so we'll need to wait for the next major version. In the mean time, you can resolve the aggregate root first.

[code]

[2020-09-18 08:25] brendt commented on #150
I think just adding an `assertThat` is the way to go and leave `assertRecorded` and `assertNotRecorded` alone. Further discussion in the PR: #154

[2020-09-18 08:53] #150 closed

[2020-09-23 13:03] jkbennemann opened #155 "Additional event store options"
I would share the idea with you to make the event store configurable.
Currently there is no option to configure a deviating event store - such as EventStore from Greg Young - or any other implementation other than the already existing database.

[2020-09-23 13:40] freekmurze commented on #155
This is already possible 👍
https://spatie.be/docs/laravel-event-sourcing/v3/advanced-usage/using-your-own-event-storage-repository

[2020-09-23 13:40] #155 closed

[2020-09-28 19:57] KMB opened #157 "Docs are not displaying images"
Hi

The documentation is not displaying images.

See:

https://spatie.be/docs/laravel-event-sourcing/v4/getting-familiar-with-event-sourcing/using-aggregates-to-make-decisions-based-on-the-past

or

https://spatie.be/docs/laravel-event-sourcing/v4/getting-familiar-with-event-sourcing/using-projectors-to-transform-events

This seem sto be a general problem with the new documenation implementation S

[2020-09-29 09:17] Nielsvanpach commented on #157
Thanks for letting us know @KMB
This should be fine now

[2020-09-29 09:17] #157 closed

[2020-10-14 08:49] freekmurze commented on #151
Closing this, but we'll take a look again when creating v5.

[2020-10-14 08:49] #151 closed

[2020-10-14 08:49] freekmurze commented on #139
Closing this due to inactivity.

[2020-10-14 08:49] #139 closed

[2020-10-14 08:50] freekmurze commented on #122
Closing this due to inactivity.

[2020-10-14 08:50] #122 closed

[2020-10-14 08:50] #42 closed

[2020-10-14 08:52] booni3 commented on #139
Freek, I assume this is something that you are not concerned about within your applications?

Is this a much deeper issue than can be discussed, or a non-issue in your opinion?

[2020-10-14 09:13] freekmurze commented on #139
For the package it's a none issue. It think this kind of problem must be handled in the project where the project is installed.

Imho the right solution depends on what that projector does.

[2020-10-14 11:49] GameBurrow opened #161 "4.5.3 breaks custom event metadata"
We have used your tutorial (https://spatie.be/docs/laravel-event-sourcing/v4/advanced-usage/storing-metadata#storing-metadata-on-all-events) to include user_id globally in our events metadata.

With versions 4.5.1 and 4.5.2 everything worked, however with 4.5.3 version it breaks.

From the following example:
[code]
`'user_id' => $event->metaData()['user_id'],` so far worked nicely, however with 4.

[2020-10-17 15:16] Azeirah commented on #71
For others who're having this problem, it's related to the fourth step of the upgrading guide

See my changes in `config/event-sourcing.php`

[code]

[2020-10-21 11:04] sandervanhooft commented on #110
Same here, issue occurs somehow when typehinting the MyEvent on the method.

[code]

@wietsewarendorff does it work _with_ typehinting for you now?

[2020-10-21 11:18] sandervanhooft commented on #110
Found the issue - and it's a bit of a weird one.

[code]

Works here if the parameter name is `$event`. Did not expect that 😄 .

@brendt is this by design? If so, perhaps clear up the docs on this?

[2020-10-21 11:30] freekmurze commented on #110
This is by design, feel free to send PRs to the docs to make it more clear.

[2020-10-21 13:12] sandervanhooft commented on #110
[Done](#163), thanks @freekmurze !

[2020-10-22 08:15] wietsewarendorff commented on #110
Have to look into it again, but thanks for pointing this out and updating the docs @sandervanhooft !

[2020-10-23 10:13] GameBurrow commented on #161
Issue still exists with 4.6.0 also

[2020-10-26 05:10] granitebps opened #164 "Using MongoDB"
I've tried creating a custom model and use https://github.com/jenssegers/laravel-mongodb package for MongoDB connection. But both the MongoDB package and this event source package needs to extend their own model. Can this package use MongoDB?

[2020-10-26 07:26] freekmurze commented on #164
I don't have experience with Mongo.

Here's how you can use a different model and storage repository

https://spatie.be/docs/laravel-event-sourcing/v4/advanced-usage/using-your-own-event-storage-model
https://spatie.be/docs/laravel-event-sourcing/v4/advanced-usage/using-your-own-event-storage-repository

[2020-10-26 07:26] #164 closed

[2020-10-26 08:20] granitebps commented on #164
Yeah, I've already done that. But the MongoDB package that I used, also need to extends their own model.

[code]

And I cannot extends both of them at the same time.

[2020-10-31 11:07] erikgaal opened #165 "PHP8 names arguments break EventHandler dependency injection"
Hi there,

First of all I would have opened a PR to fix this, if I knew how to. I'm not sure what the best way of solving this issue as as it would likely mean to be a breaking change.

PHP8 introduced named arguments, which the Laravel's dependency injection already kind of allowed. This package makes use of that for Event Handlers, so that you can choose which parameters you want to use there. T

[2020-10-31 18:04] freekmurze commented on #165
@brendt could you take a look at this one?

[2020-11-03 11:38] reijo12 opened #166 "4.5.6 Stored metadata is not reset when using CustomStoredEvent"
When using CustomStoredEvent to have meta data on all events. The metadata is stored into stored_events table, but when accessing the event from projector the meta data is not present in the events.
After looking into StoredEvent.php class it seems that the original events metadata is used always.

Since the version 4.5.4 this function started to return original event with its metaData and not usi

[2020-11-03 12:55] freekmurze commented on #166
Feel free to send a PR with tests for us to look at.

[2020-11-03 17:04] sebastiandedeyne commented on #165
Would have to see a full trace to be sure, but I assume this is Laravel's `App::call()` method that isn't compatible with named parameters yet, and will be patched by PHP 8's release.

It's what we're using internally, if the error trace goes through a different method that our `handle` method, it's a different issue.

https://github.com/spatie/laravel-event-sourcing/blob/3e679e9dd35d8b6bd257991de

[2020-11-06 13:01] inmanturbo opened #167 "No Queued Projector Interface"
The docs recommend implementing an interface which does not exest, as far as I can tell:
# Handling events in a queue

[2020-11-06 13:08] inmanturbo commented on #167
Sorry about that was looking at the 3x docs and instead of 4x

[2020-11-06 13:08] #167 closed

[2020-11-10 01:22] dilab opened #168 "persistInTransaction"
Any example of using `persistInTransaction`? What is the use case of this static method?

[2020-11-19 05:31] dilab opened #169 "replay projection in production"
How do we replay projection in a production environment?

For example, we have about 100k events, to replay, it takes about 15 minutes, if we do this live, new events may come in and the projection will not be up to date after the replay.

So aside from schedule a system down time, how do we replay the projection gracefully?

[2020-11-19 07:32] freekmurze commented on #169
The package has no opinion on how to do this and there are many routes to achieve this.

The easiest would be to have system downtime. Another route you could go for is to create another projector that listens for incoming events on production. When replaying the events of the old projection you could write it in the same table where your new projection writer in. It's a bit cumbersome.

There are

[2020-11-19 07:32] #169 closed

[2020-11-19 18:51] UncertaintyP opened #170 "Duplicate uuid/version events prevent further updates"
First I want to thank you guys for your awesome packages and the hard work you put into them. :heart:

I was trying out this package in local development (Nginx + PHP-FPM, MySQL). After some time this system goes dormant and the next request takes some time to be processed. In this state I (accidentally) made 2 concurrent requests to update the same aggregate. The corresponding controller function

[2020-11-21 12:55] morrislaptop commented on #168
IMO It's to ensure that events across aggregated all succeed.

For example if we had an event and bookings...?

[code]

This would ensure that the booking is only finalized if the event is also marked as full.

[2020-11-22 19:28] #168 closed

[2020-11-23 01:13] dilab commented on #168
@morrislaptop thanks

[2020-11-23 08:02] dilab opened #172 "Question about replay_chunk_size"
In the documentation, it says `replay_chunk_size` will control how many events to replay at once to avoid memory issues. However, I do not see anywhere in the code is using this config value.

Mind pointing me to the correct file?

[2020-11-23 08:06] freekmurze commented on #172
This option is indeed not used anymore. The latest version of the package uses a memory efficient cursor instead of chunking. I've removed the leftover config.

[2020-11-23 08:06] #172 closed

[2020-12-01 07:32] rsdrsd opened #173 "Using a plain object as property for an event"
When I add a plain object as a property of an event, in the case of deserializing the event, it gives an error that it expects an object but an array is given. Isn't it allowed to add plain objects, something like `(object) ['name' => 'John Doe']` as a property of an event?

[2020-12-01 07:38] rsdrsd opened #174 "All methods of object get serialized when using an object as a property of an event"
When I use an instantiated object (some sort of a model), with a few properties and some simple helper methods. The methods also get serialized in the stored event. How can I let it only serialize the properties of the event? I tried several solutions by adding `__sleep`, `__serialize`, `__unserialize` etc to the class of the object, but that didn't work out. Is there a general method on how to so

[2020-12-01 14:06] brendt commented on #174
Always keep in mind to pass only necessary data to an event. Instead of passing the model, pass its ID or UUID and store that. You could add a method on the event to retrieve the model from its ID, but serializing the model itself won't work.

[2020-12-01 14:06] #174 closed

[2020-12-02 08:30] dilab commented on #173
You need ObjectNormalised, this is our own custom Event Serializer

[code]

[2020-12-02 09:24] #173 closed

[2020-12-02 15:50] morrislaptop opened #175 "Events as DTO's"
With the release of 4.0, events now extend ShouldBeStored which means they can no longer extend a DataTransferObject.

I quite liked this pattern, and it seems @brendt has had this idea in the past - https://github.com/spatie/data-transfer-object/issues/93#issuecomment-565337938

Just wondering if there's a new recommended approach?

[2020-12-03 19:21] rsdrsd opened #176 "Persist in transaction"
If I want to persist 2 or more aggregate roots in one transaction I can use the `persistInTransaction` method. But when I want to store the events globally in a certain order it doesn't seem possible, because the `persistInTransaction` stores the events in the order of the aggregates listed in `persistInTransaction` method.

How can I for example store in one transaction the following:

id | aggre

[2020-12-08 04:39] brendt commented on #175
I'll also quote [my response](https://github.com/spatie/data-transfer-object/issues/93#issuecomment-740370409) here:

I'm not sure this should be a package. Since the ES package is extensible enough, I think it's best to solve these problems on a project-based level. Also keep in mind that you probably don't need to use DTOs anymore if you're using PHP 8.

[2020-12-08 06:22] dilab opened #178 "Ability to run Temporal Query"
One feature of ES is able to perform a temporal query as discussed in https://martinfowler.com/eaaDev/EventSourcing.html

[code]

Which would require `AggregateRoot::retrieve` to add an additional parameter (DateTimeImmutable $pointOfTime) to reconstitute aggregate root from that point of time.

[2020-12-08 07:33] freekmurze commented on #178
Maybe it would be better to have a dedicated method `retrieveUntil` for this which would accept a `DateTime`

Feel free to PR this with updated tests and docs.

[2020-12-08 07:33] #178 closed

[2020-12-08 10:35] morrislaptop commented on #175
Thanks @brendt, nice to know where things are headed. Something that PHP8 isn't solving is constructing objects from arrays of (serialized) data as easy as possible. So looking forward to v3 of the DTO package for that.

It would be great if v3 of the DTO package had a trait we could use for this behaviour instead of having to extend a base class.

Something like:

[code]

[2020-12-08 10:35] #175 closed

[2020-12-11 00:54] dilab commented on #176
@rsdrsd does it matter to you since they are two different aggregates?

[2020-12-11 05:11] rsdrsd commented on #176
Not for the aggregate itself, but it could be for sideeffects or
projections.

On Fri, Dec 11, 2020, 01:55 Xu Ding <notifications@github.com> wrote:

[2020-12-11 05:24] dilab commented on #176
I see, it is hard to imagine your use case without a real example.

In general, projections should be side-effect free

[2020-12-11 05:42] rsdrsd commented on #176
If 2 aggregates update the same projection it could become a problem. It
would be nice if we could add events from aggregates on the fly in the same
way as persistInTransaction.

On Fri, Dec 11, 2020, 06:24 Xu Ding <notifications@github.com> wrote:

[2020-12-11 06:31] dilab commented on #176
maybe you can separate the projections as they are cheap to create.

[2020-12-11 08:14] brendt opened #179 "`HandlesEvents` design considerations"
With the the current implementation of v5, there are as much as four ways to configure projector and reactor handlers:

- With a magic mapping based on the argument's type hint:

[code]

- With and explicit mapping in `$handlesEvents`:

[code]

- With an explicit mapping for exactly _one_ event, making this projector only handle that one event:

[code]

- Using the `ListensTo` attribute:

[code]

[2020-12-11 09:09] brendt opened #180 "Drop support for `app()->call()` when calling event handlers"
`HandlesEvents::handle` calls handlers like so:

[code]

The reasoning being that you could inject extra dependencies in event handlers. I think we don't need that functionality for two reasons:

- `app()->call()`'s implementation assumes **named arguments**. That means that every handler method should use `$event` as the variable name. When not doing so an obscure error is thrown:

[code]

Note t

[2020-12-11 09:26] #179 closed

[2020-12-11 09:26] #180 closed

[2020-12-11 09:27] brendt opened #181 "Change projector and reactor instantiation"
Whenever a projector or reactor is added to the projectionist, it's always immediately resolved from the container:

[code]

This approach has a few down sides:

- All event handlers are immediately instantiated, even when not used
- It makes it impossible to swap out reactors and projectors with fakes during testing.

Consider the following test case:

[code]

This integration test will test for

[2020-12-11 09:31] #181 closed

[2020-12-29 10:10] dilab commented on #170
We had the same issue and we had to manually delete one of the duplicated events.

Wonder why this happens too.

[2021-01-15 01:35] dilab commented on #170
@UncertaintyP turns out this is a design issue. we as developers should design the functions to be idempotent to protect this. it is a valid exception the aggregate throws.

@UncertaintyP would love to discuss your use case. you can reach me via my profile.

[2021-01-18 18:10] UncertaintyP commented on #170
@dilab Sorry I don't see how to contact you.

My use case is pretty simple. I want to update a User model. I was relying on the documentation stating: `If that highest version id differs from the highest one that the aggregate remembers, an exception will be thrown. This can happen when there are two concurrent requests that try to update the same aggregate.` Obviously, that has not been the case

[2021-01-19 01:24] dilab commented on #170
@UncertaintyP
Basically we have to guard this scenario, prevent this from happening. Things like eventual consistency and saga comes to play.

[2021-01-19 19:39] UncertaintyP commented on #170
1. The docs already say that this is protected by the package as stated above (which is probably not).
2. This is an atomic transaction - only a single event has been recorded - nothing you can order or manage. I fail to see how this is related to eventual consistency or saga.
3. What do you suggest in this case specifically - a record of a single event? Again if this should be enforced in some wa

[2021-01-26 01:01] dilab commented on #170
@freekmurze is it possible to add lock mechanism to this package to prevent concurrent requests?

[2021-01-27 22:01] bobbarn opened #193 "phpdocumentor/reflection-docblock not found when --no-dev"
Looks like phpdocumentor/reflection-docblock is needed. Works fine in dev but when you run composer install --no-dev this package is removed but is still needed.

vendor/spatie/laravel-event-sourcing/src/Support/ObjectNormalizer.php(21): Symfony\\Component\\PropertyInfo\\Extractor\\PhpDocExtractor->__construct()

createWithAttributes is what gets you there

Adding "phpdocumentor/reflection-docbloc

[2021-02-02 23:03] booni3 commented on #170
I also had this same issue. My fix as I was up against it at the time was to manually delete the event, which allowed my system to unlock and it has worked since. My duplicate event appeared within the events table only, so the aggregate root was out of sync to my projections (although this time it was the aggregate root at fault).

I do have `protected static bool $allowConcurrency = true` on at

[2021-02-04 21:28] qalqaman22dev opened #198 "aggregateVersion behavior in AggregateRoot apply method"
https://github.com/spatie/laravel-event-sourcing/blob/05d0aa072ac6385aebda0d84519a8aa389fe2813/src/AggregateRoots/AggregateRoot.php#L222

Hello everyone.
Whether the aggregateVersion should be incremented if $applyMethodExists is false in apply() method, during reconstituteFromEvents()? (take a look at the above reference)

In the code, we are trying to make the check described below,, in order to

[2021-02-05 07:52] #198 closed

[2021-02-05 07:53] #176 closed

[2021-02-08 17:53] bobbarn commented on #193
Looks like you updated your composer require to fix so closing

[2021-02-08 17:53] #193 closed

[2021-02-09 03:00] dilab commented on #170
@UncertaintyP are you using transaction somewhere in this particular request?

[2021-02-09 10:04] UncertaintyP commented on #170
@dilab No. This is simply recording the event and the projector uses Laravels User::update function. Also no queues. Will probably go with a unique constraint on both columns because I don't need concurrency in this project.

[2021-02-24 11:02] #161 closed

[2021-03-03 10:38] #165 closed

[2021-03-03 10:38] brendt commented on #165
fixed with newer Laravel releases

[2021-03-04 11:02] #166 closed

[2021-03-06 19:05] booni3 commented on #170
@UncertaintyP @dilab  This is the same in my case too. I am having concurrent requests being generated via a standard button click through to a controller. I do have queues running too but have isolated certain cases to actions where no queues are running. I do not really understand how a concurrent request can happen in these cases. I am not using transactions either.

I am wondering whether addi

[2021-03-06 19:49] booni3 commented on #170
I have found another instance where the aggregate has 2 events under the same aggregate_version, but they were created 20 mins apart. So these are certainly not the same process unless I am missing something here...

What could cause the same aggregate version to be used across this length of time?

Same aggregate_uuid, same aggregate_version, created at 21:05 & 21:26

![image](https://user-images

[2021-03-12 09:40] erikgaal commented on #170
@booni3 are you using (non-sync) queues?

[2021-03-13 16:16] booni3 commented on #170
@erikgaal I have seen the issue in 2 scenarios:

**Same aggregate version, same timestamp:**
In these cases, one event had the user saved in the metadata in and the other event did not. This is being run via a livewire button without queues but there may be something going on with livewire that is causing a double call of the method. To remove this as an option I have added atomic locks to the act

[2021-04-09 04:16] dilab commented on #170
@booni3 what is the size of the aggregate?  I meant how many events are recorded for that particular UUID.

[2021-04-11 14:44] dilab commented on #170
@freekmurze Did some research over the weekend. This package is unable to deal with the race condition. For instance if you have a race condition like two events with the same ID and the same version will be saved at nearly the same time. This can be simulated using apache benchmark, for example `ab -n 20 -c 10`

One way to solve this is to use a composite primary key consisting of the aggregate I

[2021-04-16 07:48] brendt commented on #170
Hi all, sorry for the late reply. I was reading through all your comments and was thinking that a composite key would indeed be the best solution, let the database deal with the race conditions in order to prevent invalid state. This means that the developer should still handle those cases if they occur.

@dilab thanks for the thorough investigation, yes feel free to send a PR!

[2021-04-20 11:13] brendt commented on #170
FYI I'm working on a PR myself.

[2021-04-20 11:59] brendt commented on #170
Status update: unfortunately adding a unique constraint breaks aggregate roots with `$allowConcurrency` enabled. I wasn't working on this package when `$allowConcurrency` was added but it does exactly the opposite as what we want to achieve, and I believe it's a feature that should be removed in the next major update.

There are two options in dealing with this breaking change:

- Only fix this is

[2021-04-20 12:06] riasvdv commented on #170
I think the deprecation and optional migration is a good solution for people who need the fix right away.

We can then remove the concurrency functionality in the v5 branch

[2021-04-20 12:38] brendt commented on #170
PR is here: https://github.com/spatie/laravel-event-sourcing/pull/212

[2021-04-20 12:42] rovansteen commented on #170
@brendt awesome, thanks!

Any plans to add a retry mechanism to this package? Before we switched to this package we had a custom event sourcing implementation that caught the unique constraint violation and retried X times before giving up, allowing you to still have _some_ concurrency but without giving up the integrity of the aggregate.

[2021-04-20 13:07] brendt commented on #170
@rovansteen the key in solving this race condition from the developer's point of view, is that the AR should be refreshed before triggering a new event. We could add a function that retries x-amounts of time but it sounds to me that it would only solve part of the problems.

My preference would be to have a mechanism that ensures only one persist can be done simultaneously for specific operations

[2021-04-20 13:09] brendt commented on #170
As a sidenote: we were already planning on adding a command bus in v5, which would be one way of solving the issue: only allow one concurrent command at a time, running in a job.

[2021-04-21 00:59] dilab commented on #170
@brendt great, any timeline to release this?

[2021-04-21 01:11] dilab commented on #170
@rovansteen we are using the laravel built-in queue retry mechanism to handle the case you have mentioned.

[2021-04-21 03:43] brendt commented on #170
Released as 4.10.0: https://github.com/spatie/laravel-event-sourcing/releases/tag/4.10.0

[2021-04-21 03:43] #170 closed

[2021-04-21 07:56] brendt commented on #170
Here's the followup discussion about better handling concurrency: https://github.com/spatie/laravel-event-sourcing/discussions/214

[2021-05-25 14:27] tariqali021 opened #219 "File Upload Issue when using Media Library"
I'm using [Laravel Event Sourcing](https://spatie.be/docs/laravel-event-sourcing/v4/introduction) along with [Media Library](https://github.com/spatie/laravel-medialibrary) When we try to upload an image and read in the mutator for that file upload object then we get an error `Unable to read link /tmp/phpoiKKBk, error: Invalid argument`

[2021-05-25 16:49] #219 closed

[2021-06-14 04:01] aroutinr opened #226 "Projectors are not being registered"
Steps to reproduce.

- Fresh Laravel 8 Install
- Composer require spatie/laravel-event-sourcing
- Create Aggregate, Events and Projectors (Following official docs)
- php artisan event-sourcing:list
RESUTLS IN:
No projectors registered

No reactors registered

If i downgrade spatie/laravel-event-sourcing from v5 to v4 it works.

I also git clone larabank-aggregates, on laravel-event-sourcing v4 wor

[2021-06-15 03:45] brendt commented on #226
Do your projectors extend the `Projector` class? Also, what's the config value of `auto_discover_projectors_and_reactors` and `auto_discover_base_path` ?

[2021-06-15 03:56] brendt commented on #226
FYI I can confirm the list command had a bug, but it was unrelated to projectors actually registering automatically. This bug has been fixed: https://github.com/spatie/laravel-event-sourcing/releases/tag/5.0.4

[2021-06-15 05:11] aroutinr commented on #226
Yes the projectors are extending the Projector class and the config value are the defaults one.

I the artisan command works now but I thought that the error I was getting was because the projectors were not being detected but it is not, I still have the same problem.

Let me explain a little more the problem. Im following the steps described in the document, using the artisan commands to generate

[2021-06-15 07:04] brendt commented on #226
You cannot pass any other parameters to projector or reactor methods besides the event. The event itself now has a method to access it: `$event->aggregateRootUuid()`.

Make sure to take a look at the changelog: https://github.com/spatie/laravel-event-sourcing/blob/main/CHANGELOG.md#500---2021-06-09

[2021-06-15 07:04] #226 closed

[2021-06-15 14:26] aroutinr commented on #226
I see, honestly, I hadnt seen the changelog i was just looking at the documentation on the Spatie.be page here https://spatie.be/docs/laravel-event-sourcing/v5/using-projectors/creating-and-configuring-projectors#getting-the-uuid-of-an-event and i know there was something missing.

Thanks for answering.

[2021-06-21 09:35] bmbBAMBUS opened #231 "InvalidStoredEvent - Spatie enum serialized as empty array."
Hello,
I've faced issue, that serializer serializes Spatie Enum as a empty array. And after that it's not able to unserialize and
InvalidStoredEvent exception is thrown. [Similar issue](https://github.com/spatie/enum/issues/100)
[code]
[code]

[code]
Command where it's used.
[code]

and finally event:

[code]
event_properties column from stored_events table
[code]

[2021-06-21 20:38] bmbBAMBUS commented on #231
I've was forced to make quick workaround.
In config/event_normalizers.php I've added my own Normalizer for Enum.
Still waiting for the official solution. Greetings!
[code]

[code]

[2021-07-15 12:51] brendt commented on #231
Feel free to send a tested PR to fix this one.

[2021-07-23 13:22] keizah7 opened #238 "laravel-event-sourcing repository description link is not up to date"
https://docs.spatie.be/laravel-event-sourcing/v3/introduction/

->

https://spatie.be/docs/laravel-event-sourcing/v5/introduction

[2021-07-23 13:51] freekmurze commented on #238
Done!

[2021-07-23 13:51] #238 closed

[2021-07-26 03:36] brendt opened #240 "Cache autodiscovered files"
Autodiscovery can have a noticeable impact on projects that have lots of source files.

@rubenvanassche is working on a dedicated package to properly handle autodiscovery caching, so we'll include it here when it's done.

[2021-09-28 17:29] mbhende opened #254 "ShouldDispatchJob returns true if there is any async(ShouldQueue) event handler present"
We have an interesting case in our project. We are using laravel-event-sourcing package(Amazing package and we love it).

We observed that all of our events are getting queued. So we tried to debug to find the trace where it's happening. If we understand it correctly, in the `StoredEvent` class, the method `shouldDispatchJob` returns a boolean if the job should be dispatched or not.

In the `shoul

[2021-09-28 17:51] #254 closed

[2021-10-05 22:02] ampersand opened #270 "createdAt not available on first run from in projector."
I am running into an issue where the `$event->createdAt()` is returning `null` from the projector handler on the first run.  If the events are replayed the created at value is available.  Is this the intended behavior?

[code]

Digging through the code I find the following.

https://github.com/spatie/laravel-event-sourcing/blob/f67d9e715ce4dc49887ab9ff8cc5ab8ce11a1736/src/StoredEvents/StoredEvent.

[2021-10-23 13:26] maciejfikus opened #276 "Persisting events while testing aggregate"
Hi guys,
I noticed that after running my aggregate test suits all asserted events are actually getting persisted to event store. I believe that it is some sort of bug, isn't it? Otherwise, how am I supposed to test them without actually using database (even litesql one).
It is done here: https://github.com/spatie/laravel-event-sourcing/blob/main/src/AggregateRoots/FakeAggregateRoot.php#L33

How to

[2021-11-11 15:34] andycowan commented on #231
I've run into this bug today - was it meant to be fixed in v5?

Happy to dig further and try and find a solution if its still outstanding.

[2021-11-15 13:52] isaac-souza opened #282 "Reactors section missing in the V5 docs page"
For some reason the Reactors section is missing on the docs website, even though it is present in the repo docs folder with index 3.

![Screenshot from 2021-11-15 10-49-43](https://user-images.githubusercontent.com/35014851/141793193-a63f843b-3b6f-4718-8cfd-b0c48a667857.png)

[2021-11-22 04:59] brendt commented on #231
I don't think it was fixed… Also not sure whether it's worth fixing with PHP 8.1 around the corner supporting enums natively.

[2021-12-21 01:21] anabeto93 opened #301 "Issue registering projectors - Cannot declare class"
In my `composer.json` I have created a custom namespace which may be necessary for this bug.

[code]

I also have a Projector called `MerchantActivityProjector` but when I try registering it in `event-sourcing.php`, my entire application fails throwing an error ` Cannot declare class Domain\Merchant\Projectors\MerchantActivityProjector, because the name is already in use`

I first noticed this whe

[2021-12-21 02:41] anabeto93 commented on #301
I just noticed auto-discovery has been my problem all along. I still think this is a bug worth looking at.

Auto discovery seems to work? as in discover projectors but it doesn't really work.
![manual_registration_works_not_auto_discovery](https://user-images.githubusercontent.com/7607657/146861169-0898c78f-3a66-4e9f-bb70-dbb674465a2a.png)

Projector doesn't work by default if it is auto_discovere

[2021-12-26 06:03] anabeto93 commented on #113
I'm noticing the same problem that was fixed in v4 but the error is back in version 5. I've set the property to `$allowConcurrency = true;` in the aggregate root but still getting an error.

[2021-12-26 06:08] anabeto93 opened #302 "Not able to allow concurrent persists."
According to this [allowing concurrent persists doc](https://github.com/spatie/laravel-event-sourcing/blob/232d64962b3160eedea216b88458e80dba275372/docs/advanced-usage/allowing-concurrent-persists.md#L6), the aggregateroot can be set to allow concurrent persists which worked fine in v4.

[code]

Currently using it in v5, have set the property but it has not effect and still throws the error `Could

[2022-01-08 17:05] saschanowak opened #307 "Aggregate Partial is ignored when creating a snapshot"
I'm playing around with this package and noticed, that when following the documentation for [aggregate partials](https://spatie.be/docs/laravel-event-sourcing/v5/advanced-usage/aggregate-partials) and creating a snapshot of the aggregate root, the state of the partial is not stored in the snapshot.
Not sure if that is intended or a bug, as I didn't find a test for this usecase and the documentatio

[2022-01-08 17:46] etahamer commented on #307
@nlx-sascha

1. Is your partial aggregate root is Public property of your aggregate?
2. Are the properties that you expect to snapshot public in aggregate partial?

[2022-01-08 21:44] nlx-sascha commented on #307
Hey @etahamer,

thanks for the quick response.

Without trying it deeper I think making the AggregatePartial public does not feel right. Correct me if I'm wrong, but the interaction with the AggregatePartial should not be possible from outside. Thats when you need to proxy all functions from the AggregateRoot to the AggregatePartial like in the documentation example.
Also when reading the code the

[2022-01-10 04:50] brendt commented on #113
You could read through https://github.com/spatie/laravel-event-sourcing/discussions/214

Maybe using the `RetryMiddleware` could fix your problem?

[2022-01-10 04:52] brendt commented on #307
Partials should indeed not be made public. I'd say this issue is mostly an oversight, though I'm not sure whether it can be easily fixed. I welcome a PR that addresses the issue.

[2022-01-10 04:59] brendt commented on #302
Please refer to [this discussion](https://github.com/spatie/laravel-event-sourcing/discussions/214) to read about how we handle concurrency in v5, make sure to check out the `RetryMiddleware` in combination with the command bus.

[2022-01-10 04:59] #302 closed

[2022-01-17 13:16] brendt commented on #301
I'm not sure what the exact problem is here, but I welcome a PR with a failing test that illustrates the problem, so that we can fix it.

[2022-01-17 13:16] #301 closed

[2022-01-28 00:00] mikemunger opened #313 "Docs cannot be switched to v7 in persistent way, stuck on references to v5"
Hello there, just reporting an error in the docs usability - it seems v7 docs cannot be viewed by freely clicking around the nav as intended.

Example: https://spatie.be/docs/laravel-event-sourcing/v7/introduction

Has warning message you are viewing v5, the dropdown version switcher will not honor v7, also there are 2 options in the dropdown for v7 instead of 1, and there seems to be no option fo

[2022-01-31 13:02] brendt commented on #313
It's fixed, thanks @riasvdv

[2022-01-31 13:02] #313 closed

[2022-02-07 11:05] #270 closed

[2022-02-24 11:05] #276 closed

[2022-03-02 10:55] JustSteveKing opened #325 "Could not persist aggregate because it seems to be changed by another process after it was retrieved in the current process. Current in-memory version is 1"
My first time using v7 of the package, and had some issues with aggregates last night.

[code]

Using Laravel 9.2.0
PHP 8.1

Aggregate:

[code]

Event:

[code]

Service Provider:

[code]

Projector:

[code]

The event is persisted in the database during testing with no errors, but when I interact with my code from the web UI - I get this issue. The aggregate is being triggered by a Livewire compon

[2022-03-02 11:00] JustSteveKing commented on #325
Repo, if required: https://github.com/JustSteveKing/phponline.dev-new

[2022-03-02 11:11] brendt commented on #325
Here's a whole discussion on concurrency: https://github.com/spatie/laravel-event-sourcing/discussions/214

There are two ways to solve your problem: use the command bus with the retry middleware (mentioned in that discussion), or manually refresh the ARs on places where these errors arise.

[2022-03-02 11:11] #325 closed

[2022-03-03 12:43] JustSteveKing commented on #325
@brendt is this part in the v7 documentation at all? It sounds like it would solve the issue - but wouldn't mind reading your recommended approach 😄

[2022-03-04 05:16] brendt commented on #325
I don't think it is… I added it as a kind of experimental feature, but maybe it's time to add it to the docs now.

Have you tried it out?

[2022-03-04 08:23] JustSteveKing commented on #325
Not yet @brendt - if it is in the laravel event sourcing couese I could probably figure it out though

[2022-03-16 11:05] #282 closed

[2022-03-23 11:06] #231 closed

[2022-03-30 10:00] #240 closed

[2022-04-19 00:50] anabeto93 opened #338 "Reactors and Projectors not Auto Discovered"
This also affects a previous issue that was previously closed. #301 .

Please find a link to a sample app I created with a differently namespaced domain.

https://github.com/anabeto93/spatie-es-auto-discovery

When projectors and reactors are differently namespaced, ie does not follow the default `App\\` pattern as can be seen in `composer.json`, the projectors and reactors are not auto-discovered

[2022-04-19 02:27] anabeto93 commented on #325
@JustSteveKing I'm wondering if you've been able to follow the discussion on #214 and resolved it. I haven't been able to follow through and implement the suggestions but we have worked out a way to make concurrent persists work for us in the mean time. Solution seems hacky and thus haven't bothered to create a PR to this package to have it added.

Found ourselves in a situation where you need the

[2022-04-27 19:14] aidan-casey commented on #338
@anabeto93 - In the closed issue that you reference, @brendt requested that you submit a PR with a failing test so that this issue may be addressed. I recommend doing so as opposed to continuing to create issues.

Note that the `auto_discover_base_path` value defines the path that will be stripped from the class name to determine the FQDN. In this scenario, your configuration should be as follows:

[2022-05-07 19:25] fabianpnke opened #341 "AggregateRoot Method is called if Argument has no type-hint"
PHP Version: 8.1.5
Laravel Version: 9.11.0
spatie/laravel-event-sourcing Version: 7.2.0

Hi there,

Today I came across the Situation where Method `two` was getting called when using the AggregateRoot with Method `one` inside the Application. I wondered why this was happening cause I had never used the AggregateRoot with Method `two` anywhere yet. After some experimenting and debugging, I found ou

[2022-05-08 20:29] freekmurze commented on #341
To my knowledge, our packages wouldn't call a custom method like `two`.
Could you create a minimal Laravel app in which the problem is reproduced?

[2022-05-09 18:41] fabianpnke commented on #341
Please see https://github.com/fabianpnke/laravel-event-sourcing-issue-341-demo

I've managed to reproduce a behaviour in that the problem results in a 500 Server error by removing a type hint from the method.

[2022-05-17 21:39] mariolorente commented on #341
Hi,

same here, when there is a public method in an aggregate with non typed params the app totally breaks.

The break occurs exactly inside the apply function of AggregateRoot.php, in the Handlers section.

[2022-05-17 21:44] mariolorente commented on #341
mixed doesnt work as a type either.

[2022-06-14 12:21] daniser opened #349 "Multi-instance event handlers"
The challenge I am facing is to be able to re-use event handlers (especially Reactors) more than once. Not sure if it applies to Projectors though. I need to create single Reactor class and make many instances of it that is being configurable by the end user. [This line](https://github.com/spatie/laravel-event-sourcing/blob/ccf460d2b9cdf6e84078317f327f8e7101b9238c/src/Projectionist.php#L295) is pr

[2022-06-28 21:47] zackrowe commented on #341
I've also ran into this bug. I believe the issue is in the AggregateRoot line `259`. The method doesn't get filtered when the event gets passed to the `accepts()` method since the method argument is defined as `mixed`.

Maybe a method could be added to `Handlers` to filter methods that don't take a specific argument type? In this case `ShouldBeStored`?

[2022-06-28 22:31] zackrowe commented on #341
I've opened a PR in the better-types repository that can hopefully help address this issue. https://github.com/spatie/better-types/pull/3

[2022-07-29 09:52] lfleigl opened #355 "Cannot retrieve() cause of failing instantiate Enum"
I work on the event-sourcing book and add get an error by `AccountAggregateRoot::retrieve($account->uuid)` cause of using an Enum for the AccountType - or "better" => "Cannot instantiate enum App\Domain\Account\Enums\AccountType"

<img width="600" alt="image" src="https://user-images.githubusercontent.com/1787705/181732131-c16e7923-2e91-4158-ad55-e0ac1e7af7e1.png">

[code]

[code]

<img width="144

[2022-08-01 19:07] zackrowe commented on #341
@freekmurze I've tested the latest changes in version `7.2.3` in my project and I believe this issue has been resolved.

[2022-08-01 19:17] fabianpnke commented on #341
Hi @zackrowe and @freekmurze
I've bumped the package to the latest version in the example repo I've provided. And now it works!
Thanks @zackrowe for providing a fix for this issue.

[2022-08-01 19:17] #341 closed

[2022-08-08 10:33] JustSteveKing commented on #325
Hey @anabeto93 I haven't tried this recently if I am honest, however I am about to start another event sourcing project soon - so will be able to see where this is in terms of ability to achieve.

I had issues following the discussion if I am honest, as the docs did not have anything about actually using the command bus. I will dig into this and see what I can figure out

[2022-08-16 07:37] AidasK opened #359 "Snapshots table exploding"
Our snapshots table now contains 9 000 000 records and they take up 160gb of space. Is there a command which could cleanup old snapshot versions? Thanks

[2022-08-16 08:12] AidasK commented on #359
Would you accept this pull request? It ensures that all old snapshots would get deleted after a new one was created.
EloquentSnapshotRepository.php:
[code]

[2022-08-16 08:36] AidasK commented on #359
Probably we don't even need all of this logic anymore as we could just update one record each time. We could not do this in earlier versions of laravel as upsert method was introduced only recently. Though for this to work we would also need to add unique index on snapshots.aggregate_uuid and that would be a breaking change.
[code]

[2022-10-12 10:59] keizah7 opened #370 "Allowed memory size of x bytes exhausted"
[code]

This is last place of the app there error is thrown:

`ImportCommissionCommand` 507
[code]

Is this package bug or that? It breaks on aggregate `retrieve`

`BillAggregate`

[code]

[2022-10-17 10:01] #349 closed

[2022-10-21 14:08] giorgiopogliani opened #373 "Recording events from AggregatePartial"
Hello, to give some context the scenario I was in is: trying to send a notification when a user is tagged in some content.

I created the `EntryAggregateRoot` which has a method to update the content `updateEntryContent(string $content)`.
[code]

Next I created a `MentionsAggregatePartial` to keep things separated because I might use it on some other content column
[code]

Also, to be able to add

[2022-10-28 07:53] shokme opened #375 "from v4 to v7 test failed when using mock()->makePartial()"
Hey !

I'm upgrading to laravel9 and thus upgrading this package to v7 from v4, but I encounter an issue when I'm running tests:
[code]

[code]
I have compared the [documentation](https://spatie.be/docs/laravel-event-sourcing/v7/using-projectors/writing-your-first-projector) v4/v7 and it looks the same.
[code]

This is what I found:
laravel-event-sourcing/src/EventHandlers/HandlesEvents.php
[code]